.formWrapper {
  color: $offWhite;
  width: 100vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;

  .panelWrapper {
    width: 500px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px -10px black;
    margin: 40px;
  }
  
  button {
    margin-left: auto;
  }

  small {
    color: $offWhite;
    padding: 10px;
    text-decoration: underline;
  }

  input {
    color: black;
    margin: 5px 5px 10px 5px;
    padding: 8px;
  }

  input::placeholder {
    color: $bordergrey;
    padding: 2px 5px;
    font-family: $sunFont;
    font-size: 17px;
  }

  input:focus {
    box-shadow: 0 0 0 1px $sunOrange;
    border: 1px solid $sunOrange;
  }

  h2 {
    font-size: 45px;
  }

  label {
    color: $offWhite;
    font-size: 25px;
    align-self: flex-start;
    margin-top: 15px;
    margin-left: 8px
  }
}