nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  
  .topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    .logo {
      width: 50%;
    }
  }

  a {
    font-size: 24px;
    margin: 20px;
    font-family: $sunFont;
    color: $offWhite;
  }

  a:hover {
    color: $sunOrange;
  }

  .burgerMenu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      margin: 0;
      max-height: 70px;
      width: fit-content;
    span {
      height: 8px;
      width: 50px;
      background: $sunOrange;
      border-radius: 5px;
    }
  }
}

.burgerOpen {
  height: 250px;
  a {
    display: flex;
  }

  div {
    flex-direction: row;
    align-items: flex-start;
  }
  .burgerMenu {
    span {
      background: $darkOrange;
    }
  }
}

@media screen and (max-width: 800px) {
  nav{
    .burgerMenu {
      height: 100px;
      display: flex;
    }
    a {
      display: none;
    }
  }
}